html {
  font-optical-sizing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  font-size: calc(100 / 375 * 10vw);
  @media (--media-tablet) {
    font-size: 43%;
  }
  @media (--media-pc) {
    font-size: calc(100 / 1440 * 10vw);
  }
  @media (--media-max) {
    font-size: 83.5%;
  }
}
