<header class="fixed top-0 z-50 w-full border-b border-gray-200">
  <div class="bg-white">
    <div class="pc:h-10 pc:px-4 mx-auto flex h-7 max-w-(--width-max) items-center justify-between gap-8 px-3">
      <div class="flex items-center">
        <a class="shrink-0" href="/" aria-label="home - {{siteData.siteName}}">
          <svg class="h-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 30">
            <path class="fill-sky-400" d="M.237 0c25 0 25 10 10 10s-15 10 10 10 25 10 0 10" />
            <path
              fill="currentColor"
              d="M56.051 10.813a4.115 4.115 0 0 1 1.723 3.3h-3.34a1.976 1.976 0 0 0-.363-1.013 2.286 2.286 0 0 0-1.875-.68 2.694 2.694 0 0 0-1.553.34.978.978 0 0 0-.463.8.872.872 0 0 0 .492.832 21.307 21.307 0 0 0 3.48.926 6.393 6.393 0 0 1 2.989 1.412 3.219 3.219 0 0 1 .984 2.4 3.882 3.882 0 0 1-1.412 3.1 6.634 6.634 0 0 1-4.365 1.204 6.571 6.571 0 0 1-4.447-1.272 4.137 4.137 0 0 1-1.436-3.24h3.387a2.23 2.23 0 0 0 .457 1.266 3.09 3.09 0 0 0 2.3.668 3.5 3.5 0 0 0 1.564-.293.939.939 0 0 0 .58-.879.948.948 0 0 0-.469-.855 19.069 19.069 0 0 0-3.483-1.009 7.249 7.249 0 0 1-3.058-1.347 2.922 2.922 0 0 1-.891-2.3 3.984 3.984 0 0 1 1.389-3.041 5.577 5.577 0 0 1 3.908-1.271 7.236 7.236 0 0 1 3.902.952Zm10.395 9.808v2.5l-1.582.055q-2.372.082-3.234-.821a2.442 2.442 0 0 1-.562-1.77v-7.863h-1.782v-2.379h1.781V6.781h3.3v3.563h2.074v2.379h-2.069v6.75a1.52 1.52 0 0 0 .2.979 2.194 2.194 0 0 0 1.219.193q.152 0 .322-.006t.333-.018Zm2.625-9.012q1.324-1.687 4.547-1.687a8.078 8.078 0 0 1 3.727.832 3.194 3.194 0 0 1 1.629 3.141v5.859q0 .609.023 1.477a1.857 1.857 0 0 0 .2.891 1.2 1.2 0 0 0 .495.386V23h-3.637a3.72 3.72 0 0 1-.211-.727q-.059-.34-.094-.773a6.862 6.862 0 0 1-1.593 1.277 4.794 4.794 0 0 1-2.438.623 4.191 4.191 0 0 1-2.865-.99 3.532 3.532 0 0 1-1.131-2.81 3.643 3.643 0 0 1 1.816-3.41 8.065 8.065 0 0 1 2.93-.82l1.137-.141a5.213 5.213 0 0 0 1.324-.293 1 1 0 0 0 .715-.949 1.126 1.126 0 0 0-.545-1.084 3.4 3.4 0 0 0-1.6-.3 2.084 2.084 0 0 0-1.676.586 2.435 2.435 0 0 0-.469 1.172h-3.222a4.9 4.9 0 0 1 .938-2.752Zm2.484 8.977a1.745 1.745 0 0 0 1.148.387 3.4 3.4 0 0 0 1.989-.633 2.7 2.7 0 0 0 .943-2.309v-1.242a3.629 3.629 0 0 1-.639.322 5.341 5.341 0 0 1-.885.229l-.75.141a4.843 4.843 0 0 0-1.512.457 1.532 1.532 0 0 0-.773 1.418 1.466 1.466 0 0 0 .479 1.23Zm16.8-7.277a2.77 2.77 0 0 0-2.707 1.313 5.106 5.106 0 0 0-.387 2.273V23h-3.358V10.227h3.189v2.227a7.061 7.061 0 0 1 1.348-1.746 3.669 3.669 0 0 1 2.438-.785q.094 0 .158.006t.287.018v3.422q-.316-.035-.562-.047t-.401-.013Zm8.766 7.313v2.5l-1.577.054q-2.367.082-3.234-.82a2.442 2.442 0 0 1-.562-1.77v-7.863h-1.783v-2.379h1.781V6.782h3.3v3.563h2.074v2.379h-2.069v6.75a1.52 1.52 0 0 0 .2.979 2.194 2.194 0 0 0 1.219.193q.152 0 .322-.006t.334-.019Zm13.083-1.372a4.237 4.237 0 0 1-1.184 2.309 5.8 5.8 0 0 1-4.594 1.863 6.478 6.478 0 0 1-4.3-1.57q-1.864-1.571-1.864-5.11a7.1 7.1 0 0 1 1.682-5.086 5.75 5.75 0 0 1 4.365-1.77 6.694 6.694 0 0 1 2.871.6 5.03 5.03 0 0 1 2.112 1.885 6.437 6.437 0 0 1 .973 2.637 17.028 17.028 0 0 1 .105 2.531h-8.744a3.174 3.174 0 0 0 1.207 2.7 2.843 2.843 0 0 0 1.664.48 2.4 2.4 0 0 0 1.676-.586 2.783 2.783 0 0 0 .619-.883Zm-3.3-3.914a2.907 2.907 0 0 0-.8-2.01 2.493 2.493 0 0 0-1.787-.686 2.268 2.268 0 0 0-1.8.727 3.627 3.627 0 0 0-.8 1.969Zm12.136-2.027a2.77 2.77 0 0 0-2.707 1.313 5.106 5.106 0 0 0-.387 2.273V23h-3.363V10.227h3.188v2.227a7.061 7.061 0 0 1 1.348-1.746 3.669 3.669 0 0 1 2.438-.785q.094 0 .158.006t.287.018v3.422q-.316-.035-.562-.047t-.4-.013Z"
            />
          </svg>
        </a>
      </div>
      <div class="item-center max-sp:hidden flex gap-3">
        <a class="text-base text-[1.6rem]" href="/sample/">Sample page</a>
        <a class="text-base text-[1.6rem]" href="/sample2/">Sample page2</a>
      </div>
    </div>
  </div>
</header>
